/* Import Montserrat via Google Font URL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(20, 95, 100);
    text-transform: capitalize;
    padding: 1rem 5rem;

}
#input{
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 15px;
    background: white;
    outline: none;
    border: none;
}
#search{
    cursor: pointer;
    padding: 5px 20px;
    color: white;
    background: rgb(95 160 160);
    font-size: 17px;
    border-radius: 15px;
}
.search-input{
    color: black;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.search-input::placeholder{
    color: rgb(0, 0, 0);
}
#city{
    font-size: 50px;
}
#temperature{
    font-size: 50px;
    margin-left: 20px;
    margin: 0;
}
.temperature-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
#condition{
    font-size: 24px;
    background: rgb(50, 100, 140);
    padding: 2px 20px;
    border-radius: 20px;
}
main{
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-column-gap: 25px;
    margin: 0 50px;
    align-items: center;
    color: white;
}
.cast-header{
    color: white;
    background: rgb(50, 100, 140);
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 24px;
    margin-bottom: 5px;
}
.weather-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
}
.current-weather h2{
    margin: 0;
}
.daily-forecast, .current-weather, .hourly-forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 6rem 0;
    text-align: center;
}
.dayF, .hourF{
    padding: 5px;
}
.time,
.date{
    color: rgb(190, 170, 250);
}
.desc{
    color: rgb(170, 225, 55);
}
footer{
    text-align: center;
    color: white;
    margin-top: 50px;
    text-transform: none;
    font-size: 14px;
}